<div class="Loginfullpage">
  <img src="../../assets/Arivpay_Logo_new.png" class="center"> 
	<div class="login-form">
        <h2 class="text-center">Ariv Pay - Check Out</h2><br>       
        <div>
            <input class="form-control" placeholder = "Enter Amount in &#163;" type="text" required="required">
        </div><br><br>
   
        <div>
            <button type="submit" class="btn btn-primary">Check Out</button>&nbsp;
			
        </div><br>
		<div>
		<a routerLink="/">Back To Home Page</a>
		</div>
    </div>
</div>